@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  width: 90%;
  font-size: small;
  height: 44px;
  margin: 0 1px 24px 0;
  padding: 15px 185px 14px 24px;
  border-radius: 22px;
  background-color: #f2f2f4;
  outline: none;
}

.login-btn {
  width: 268px;
  height: 48px;
  margin: 24px 0 24px 1px;
  padding: 14px 111px;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 pink;
}

.create-account-btn {
  width: 268px;
  height: 44px;
  margin: 60px 53px 0 54px;
  padding: 12px 61px;
  border-radius: 8px;
  color: pink;
  background-color: #0a0a14;
}

.company-name {
  width: 182px;
  height: 36px;
  margin: 24px 96px 59px 97px;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.forgot-password {
  margin: 4px 4px 5px 0;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.place-items-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gender-box {
  width: 122px;
  height: 80px;
  margin: 24px 24px 64px 53px;
  padding: 32px 8px 33px;
  border-radius: 8px;
  box-shadow: 4px 4px 16px 0 rgba(10, 10, 20, 0.16);
}

.gender-text {
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
